@page
@using StyleShareWebsite.Models
@model StyleShareWebsite.Pages.MainPageModel
@{
    ViewData["Title"] = "Strona główna";
    ViewData["PageName"] = "Strona główna";
}

<div class="text-end">
    @if (Model.UserName != null)
    {
        @if (Model.CurrentUser != null && Model.CurrentUser.Role == Role.Admin)
        {
                <a asp-page="/AdminPanel/Index">Przejdź do panelu administracyjnego</a>
        }
        <div>User Name: @Model.UserName</div>
        <a asp-page="/LogOut">Wyloguj</a>
        <a asp-page="/UserProfil/Index">Twój profil</a>
    }
    else
    {
        <a asp-page="/Login">Zaloguj</a>
        <a asp-page="/Register">Zarejestruj się</a>
    }
</div>

@if (Model.CurrentUser != null && Model.CurrentUser.Id != null)
{
    <p>
        <a asp-page="./CreatePost">Create New Post</a>
    </p>
}
<div>
    @foreach(var post in Model.Posts)
    {
        <div id="post-container">
            @{
                var postOwner = Model._postableService.GetOwnerByPostableIdAsync(post.Id).Result;
            }

            <h1 id="post-title"> @post.Title</h1>
            <label>@postOwner.Nickname</label>
            <div style="text-align:right">
                @{
                
                    var tags = Model._postableService.GetAllTagsByPostableIdAsync(post.Id).Result;
                    foreach (Tag tag in tags)
                    {
                        <label class="tag">@tag.Name</label>
                    }
               
                }
            </div>
            <div id="post-content"> 
                @post.Content
            </div>
            <label>@post.Date</label>
           
            <div id="likes-container">
                @{var likedUserList = Model._likeService.GetAllLikingUsersByPostableId(post.Id).Result;}
                @if (Model.CurrentUser != null && Model.CurrentUser.Id != null)
                {
                    @if (Model._postableService.IsUserAlreadyLikedSpecificPostable(Model.CurrentUser.Id!, post.Id))
                    {
                        <a id="inactive-like-button">Like @likedUserList.Count</a>
                    }
                    else
                    {
                        <a asp-page="./AddLike" asp-route-id="@post.Id" id="active-like-button">Like @likedUserList.Count</a>
                    }
                }
                else
                {  
                    @*<label>@likedUserList.Count</label>*@
                    <a asp-page="./AddLike" disabledd asp-route-id="@post.Id" id="active-like-button">@likedUserList.Count</a>
                }

            </div>
            @if (Model.CurrentUser != null)
            {
                <a asp-page="./AddComment" asp-route-id="@post.Id">Add Comment</a>
            }
            <a asp-page="./Comments" asp-route-id="@post.Id">Comments</a>
            @{
                var commentUserList = Model._commentService.GetAllCommentsByCommentedPostableId(post.Id).Result;
            }
            <span>
                - @commentUserList.Count 
            </span>
            <div>
            @if (Model.CurrentUser != null && (Model.CurrentUser.Role == Models.Role.Admin || Model.CurrentUser.Id == post.UserId))
            {
                        <br/>
                        <br/>
                        <a asp-page="./EditPost" asp-route-id="@post.Id">Edit</a>
                        <span>|</span>
                        <a asp-page="./DeletePost" asp-route-id="@post.Id">Delete</a>
            }   
            </div>
        </div>
    }
</div>