@page
@model StyleShareWebsite.Pages.Posts.DetailsModel

@{
    ViewData["PageName"] = ViewData["Title"] = "Panel administracyjny";
}

<h1>Details</h1>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Post.Date)
        </dd>
        <br/><br/><br/><br/>
        @if (Model.Tags != null && Model.Tags.Count != 0)
        {
            <dt class="col-sm-12" style="text-align:center">Tagi Postu:</dt>
            <table class="table">
                <thead>
                    <tr>
                        <dt class="col-sm-6" style="text-align:center">
                            Id tagu
                        </dt>
                        <dt class="col-sm-6" style="text-align:center">
                            Nazwa tagu
                        </dt>
                    </tr>
                    @foreach (var item in Model.Tags)
                    {
                            <tr>
                                <dd class="col-sm-6" style="text-align:center">
                                    @Html.DisplayFor(modelItem => item.Id)
                                </dd>
                                <dd class="col-sm-6" style="text-align:center">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </dd>
                            </tr>
                    }
                </thead>
            </table>
        }
        else
        {
            <div>Post nie ma tagów</div>
        }
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Post?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
