@page
@model StyleShareWebsite.Pages.Achievements.DetailsModel

@{
    ViewData["PageName"] = ViewData["Title"] = "Panel administracyjny: Osiagniecia";
}

<h1>Details</h1>

<div>
    <h4>Achievement</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Achievement.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Achievement.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Achievement.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Achievement.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Achievement.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Achievement.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Achievement.AchievementUsers):
        </dt>
        <dd class="col-sm-10">
            @foreach (var item in Model.AchievementOwnersId)
            {
                @Html.DisplayFor(modelItem => item)<br>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Achievement?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
